Source: opennms-mirror
Section: net
Priority: optional
Maintainer: Ronny Trommer <ronny@opennms.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/opennms-forge/opennms-mirror

Package: opennms-mirror
Architecture: all
Depends: ${misc:Depends}, cron, rsync
Recommends: postfix | mail-transport-agent, apache2 | httpd
Suggests: vsftpd | proftpd
Description: OpenNMS mirror scripts
 This package contains scripts for mirroring various parts of the OpenNMS
 infrastructure.
 .
 This includes packages and Java Maven dependencies.
